@use 'vars';

.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    min-height: 100vh;
    background-image: url(../images/hero_desktop.jpg);
    text-align: center;
    background-size: cover;

    
    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        
        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
            
        }
    }
    
    &__logo {
        max-width: 50px;
        width: 100%;
        margin: 0 5px;
        transition: opacity .5s ease;
        
        @media (max-width: 768px) {
            max-width: 64px;
        }
    }
    
    &__links {
        display: flex;
        
        &__item {
            margin: 5px;
            align-content: center;
            transition: opacity .5s ease;
        }
    }
    
    .button {
        height: 28px;
        
        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }

}

@property --y {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 1%;
}

.snowfall,
.snowfall::before,
.snowfall::after {
    position: absolute;
    inset: 0;
    content: '';
    overflow: hidden;
    pointer-events: none;

    background-image: 
        radial-gradient(
            circle at 5% calc(var(--y) * 1),
            #fff 3px, transparent 6px
        ),
        radial-gradient(
            circle at 30% calc(var(--y) * 1.3),
            #fff 2px, transparent 4px
        ),
        radial-gradient(
            circle at 65% calc(var(--y) * 1.4),
            #fff 2px, transparent 4px
        ),
        radial-gradient(
            circle at 85% calc(var(--y) * 1.6),
            #fff 3px, transparent 6px
        );
}

.snowfall {
    animation: snowfall 20s linear infinite;
    background-size: 65% 100%;
}

.snowfall::before {
    inset: -4rem 0 0;
    opacity: 0.7;
    animation: 
        snowfall 27s linear infinite,
        wind 27s ease-in-out infinite;
    background-size: 45% 100%;
}

.snowfall::after {
    inset: -8rem 0 0;
    opacity: 0.8;
    animation: snowfall 37s linear infinite,
    wind 47s ease-in-out infinite;
    background-size: 32% 100%;
}

@keyframes snowfall {
    0% {
        --y: -1%;
    }
    100% {
        --y: 101%;
    }
}

@keyframes wind {
    50% {
        translate: 200px;
    }
}

.hidden {
    visibility: hidden;
}