@use 'vars';
@use 'header';
@use 'season';
@use 'trailer';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

Body {
    background-color: vars.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: vars.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: vars.$corTextoSecundario;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.text-link {
    @include text(18px);
    color: vars.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(38px);
    @media (max-width: 768px) {
        @include title(22px);
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: vars.$corTextoSecundario;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 4px 8px;
    letter-spacing: 1px;
    border: 1px solid vars.$corDeFundoBotaoPrimario;

    &:hover {
        background-color: lighten(vars.$corDeFundoBotaoPrimario, 3%);
    }

    &--secondary {
        background-color: transparent;
        border-color: vars.$corTextoSecundario;

        &:hover {
            background-color: lighten(vars.$corDeFundoBotaoSecundario, 3%);
        }
    }

    &--dark {
        background-color: vars.$corDeFundoBotaoDark;
        border-color: vars.$corTextoSecundario;

        &:hover {
            background-color: vars.$corTextoSecundario;
            color: vars.$corDeFundo;
        }
    }
}